@model MyPortfolio.Models.TblTestimonials

@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h2>Referans Bilgisi Güncelleme Sayfası</h2>
<br />

<form method="post" id="testimonialsForm">
    <input type="hidden" name="TestimonialId" value="@Model.TestimonialId" />
    <label>Resim Url</label>
    <input type="url" name="ImageUrl" value="@Model.ImageUrl" class="form-control" required />
    <br />
    <label>Açıklama/Mesaj</label>
    <input type="text" name="Comment" value="@Model.Comment" class="form-control" required />
    <br />
    <label>Ad Soyad</label>
    <input type="text" name="NameSurname" value="@Model.NameSurname" class="form-control" required />
    <br />
    <label>Meslek</label>
    <input type="text" name="Title" value="@Model.Title" class="form-control" required />

    <br />
    <label for="CommentDate">Mesaj Tarihi</label>
    <input type="date" name="CommentDate" value="@Model.CommentDate?.ToString(" yyyy-MM-dd")" class="form-control" id="CommentDate" required />

    <br />
    <button type="submit" class="btn btn-outline-info">Güncelle</button>
</form>


